@use 'theme/colors' as *;

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  color: $grey;
  font-size: 1.2rem;
  font-weight: 600;

  .pageNum,
  .pageNum.active,
  i {
    @media (hover: hover) {
      &:hover {
        color: $slate;
      }
    }
  }

  .pageNum {
    padding: 0.25rem;

    &:first-of-type {
      margin-left: 0.5rem;
    }

    &:last-of-type {
      margin-right: 0.5rem;
    }

    &.active {
      color: $blue;
    }
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1280px) {

}