@import 'theme/colors.scss';

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  padding: 0;
  height: 100vh;

  header {
    grid-area: header;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;

    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 800;
      cursor: pointer;
      color: $deepBlue;
      padding: 0 1rem;
      margin: 0.75rem 0;
    }

    #headerBar {
      display: grid;
      gap: 1rem;
      grid-template-columns: 16rem 1fr;
      color: $offWhite;
      background-color: $deepBlue;
      width: 100%;
      padding: 1rem;

      .barText {
        display: flex;

        i {
          display: none;
          margin-right: 1rem;
          font-size: 2rem;
          min-width: 2.25rem;
          transition: all 0.2s ease;
        }
      }

      input {
        margin: 0 auto;
      }

      .filterCustom {
        i {
          color: $grey !important;
        }
      }

      p {
        margin: 0;
        font-size: 0.8rem;
        font-weight: normal;

        &.subTitle{
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }

  #main {
    margin: 9.4rem 0 0 17rem;
    transition: margin 0.2s ease;

    .menu.custom {
      position: fixed;
      left: 0;
      z-index: 10;
      height: calc(100% - 12.9rem);
      min-width: 16rem;
      transition: all 0.2s ease;
      background-color: #ececec;
      border-right: 0.0625rem solid $lightGrey;

      .topLevel {
        &.subItem {
          border-radius: 0.35rem;
        }

        &.active {
          border-radius: 0 0.35rem 0.35rem 0;
        }
      }
    }

    #content {
      padding-bottom: 3.4rem;

      .xTable {
        .tdContainer {
          &:first-of-type {
            font-weight: bold;
            color: $deepBlue;
          }
        }

        li {
          grid-template-columns: 10rem 1fr 7rem !important;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: flex-end;
    grid-area: footer;
    position: relative;
    z-index: 10;
    padding: 1rem;
    color: $offWhite;
    background-color: $deepBlue;
    min-height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1280px) {
  #app #main {
    margin: 13.011875rem 0 0 16rem;

    .menu.custom {
      height: calc(100% - 16.4rem);
    }
  }

  #headerBar {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(2, auto);
  }
}

@media only screen and (max-width: 1024px) {
  #headerBar .barText i {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  #app #main {
    margin-left: 0;

    &.menuIsOpen {
      margin-left: 16rem;
    }

    .menu.custom {
      left: -16rem;

      &.open {
        left: 0;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #content {
    .xTable {
      li {
        grid-template-columns: 1fr !important;

        .inline:first-of-type {
          .respHeader {
            display: none;
          }
        }
      }
    }
  }
}