@import 'theme/colors.scss';

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  padding: 0;
  height: 100vh;

  header {
    grid-area: header;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;

    h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 800;
      cursor: pointer;
      color: $deepBlue;
      padding: 0 1rem;
      margin: 0.75rem 0;

      i {
        margin-left: 1rem;
      }
    }

    #headerBar {
      display: grid;
      gap: 1rem;
      grid-template-columns: 15rem 1fr;
      color: $offWhite;
      background-color: $deepBlue;
      width: 100%;
      padding: 1rem;

      input {
        margin: 0 auto;
        max-width: 70rem;
      }

      p {
        margin: 0;
        font-size: 0.8rem;
        font-weight: normal;

        &.subTitle{
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }

  #main {
    margin: 9.4rem 0 0 17rem;

    #content {
      padding-bottom: 3.4rem;
    }
  }

  footer {
    display: flex;
    align-items: flex-end;
    grid-area: footer;
    padding: 1rem;
    color: $offWhite;
    background-color: $deepBlue;
    min-height: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}