@use 'theme/colors' as *;

.menu {
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  user-select: none;

  .topLevel {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    min-width: 9rem;
    min-height: 2rem;
    font-weight: bold;
    color: $deepBlue;
    border-left: 0.35rem solid transparent;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: #00000015;
      }
    }

    &.subItem {
      font-weight: normal;
      padding: 0.15rem 1rem;
      min-height: unset;
    }

    &.active {
      border-left: 0.35rem solid $blue;
    }

    .subMenuIcon,
    .icon {
      margin-right: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}