@import 'theme/colors';

$rightPos: 0.95rem;

.slideOver {
  position: fixed;
  top: 1rem;
  right: $rightPos;
  z-index: 1;
  height: calc(100% - 2rem);
  min-width: 23rem;
  max-width: 23rem;
  padding: 1rem;
  border-radius: 0.35rem;
  background-color: $offWhite;
  box-shadow: 0 0.1rem 0.25rem black;
  overflow-y: auto;

  .header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    h3 {
      margin: 0;
    }

    .closeBtn {
      display: flex;
      align-items: center;
      height: auto;
      width: fit-content;
      border: inherit;
      color: inherit;
      font-size: 1.5rem;
      background-color: inherit;
      margin: 0 !important;
      padding: 0;

      &:hover {
        color: $blue;
      }
    }
  }

  &.slideIn {
    animation: slideOverIn ease 0.35s;
  }

  &.slideOut {
    animation: slideOverOut cubic-bezier(.75,-0.5,0,1.75) 0.35s;
  }

  @keyframes slideOverIn {
    0% { right: -25rem; }
    100% { right: $rightPos; }
  }

  @keyframes slideOverOut {
    0% { right: $rightPos; }
    100% { right: -25rem; }
  }
}


/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {
  .slideOver {
    min-width: 21rem;
    max-width: 21rem;
  }
}

@media only screen and (max-width: 360px) {
  .slideOver {
    min-width: 20rem;
    max-width: 20rem;
  }
}