@import 'theme/colors';

.flatline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  i {
    color: $red;
    font-size: 2rem;
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}