@use 'theme/colors' as *;

ul.reqs {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;

  li {
    display: inline-flex;
    margin: 0.2rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    i {
      position: relative;
      top: 0.1rem;
      margin-right: 0.5rem;
    }
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}