@import 'theme/colors.scss';

.progressBar {
  display: flex;
  align-items: center;
  background-color: $slate;
  height: auto;
  width: 100%;
  border-radius: 0.35rem;

  &.noPct {
    height: 0.5rem;
  }

  .progress {
    display: flex;
    align-items: center;
    border-radius: inherit;
    height: 100%;
    transition: all 0.75s cubic-bezier(.75,-0.5,0,1.75);
  }

  .pct {
    font-size: 0.9rem;
    font-weight: 600;
    width: max-content;
    padding: 0 0.5rem;
    user-select: none;
    transition: transform ease 0.2s;
    animation: pctIn ease 2s;
  }
}

@keyframes pctIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}