@import 'theme/colors.scss';

.filter {
  display: inline-flex;
  align-items: center;
  width: 100%;

  label {
    align-items: center;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0.5rem 0.75rem 0.5rem 3rem;
    margin-bottom: 0;
    background-color: white;

    &.noIcon {
      padding-left: 0.75rem;
    }
  }

  i {
    position: absolute;
    font-size: 1.25rem;
    padding-left: 0.8rem;
  }
}

.filterCustom {
  i {
    color: $grey !important;
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1440px) {
  .filter label {
    left: -0.55rem;
  }
}

@media only screen and (max-width: 365px) {
  .filter {
    input {
      padding: 0 5rem 0 2.75rem;
    }

    button {
      width: 5rem;
    }

    .btnContainer {
      margin-left: -5.1rem;
    }
  }
}