@import 'theme/colors';

#content {
  .sampleBox {
    width: 100%;
    padding: 0 0 2rem 1rem;
    box-shadow: inset 0.25rem 0 0.24rem -0.2rem $lightGrey;

    h4 {
      margin-top: 2.625rem;
    }

    span {
      width: 100%;
      margin: 0.25rem;
    }

    .samples {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        margin: 0.25rem;
      }
    }
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}