@import 'theme/colors';

#content {
  .sampleBox {
    width: 100%;
    padding: 0 0 2rem 1rem;
    box-shadow: inset 0.25rem 0 0.24rem -0.2rem $lightGrey;

    h4 {
      margin-top: 2.625rem;
    }

    span {
      width: 100%;
      margin: 0.25rem;
    }

    pre.block {
      width: unset;
    }

    .samples {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;

      .copyright {
        text-align: center;
      }

      .buttonSamples {
        display: grid;
        gap: 0.25rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
      }

      .banner {
        i {
          color: $yellow;
        }
      }

      .menu {
        border-left: 0.0625rem solid $warmGrey;
        width: inherit;
      }

      .headerInstructions,
      .dragInstructions {
        margin: 0 !important;
      }

      .dragInstructions {
        display: none;
      }

      .loadingSamples {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.unset {
      .samples {
        display: unset;
      }
    }
  }
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1280px) {
  #content .sampleBox {
    box-shadow: unset;
    padding-left: 0;
  }
}

@media only screen and (max-width: 640px) {
  #content .sampleBox .samples {
    .headerInstructions {
      display: none;
    }

    .dragInstructions {
      display: block;
    }
  }
}

@media only screen and (max-width: 390px) {
  #content .sampleBox .samples {
    max-width: 19.875rem;

    .copyright {
      font-size: 0.85rem;
    }
  }
}