$white: #fff;
$offWhite: #f5f5f5;
$lighterGrey: #e5ecf1;
$mediumGrey: #c5cfd6;
$lightGrey: #aab2b8;
$warmGrey: #b3b3b3;
$grey: #7e8489;
$darkGrey: #5d6166;
$darkerGrey: #4e5255;
$purple: #8b72fd;
$darkPurple: #6f59aa;
$blue: #0d97ff;
$darkBlue: #005fa6;
$deepBlue: #20232a;
$slate: #4d5153;
$red: #c93434;
$yellow: #f0b800;
$orange: #ec811d;
$green: #50b990;

:export {
  white: $white;
  offWhite: $offWhite;
  lighterGrey: $lighterGrey;
  mediumGrey: $mediumGrey;
  lightGrey: $lightGrey;
  warmGrey: $warmGrey;
  grey: $grey;
  darkGrey: $darkGrey;
  darkerGrey: $darkerGrey;
  purple: $purple;
  darkPurple: $darkPurple;
  blue: $blue;
  darkBlue: $darkBlue;
  deepBlue: $deepBlue;
  slate: $slate;
  red: $red;
  yellow: $yellow;
  orange: $orange;
  green: $green;
}