@import 'theme/colors.scss';

h2 {
  color: $deepBlue;
}

h3 {
  color: $blue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
}

pre {
  border: none !important;
  border-radius: 0.35rem !important;
  background-color: $deepBlue !important;
  width: fit-content;
  margin: 1rem 0 !important;
  font-size: 0.78rem !important;

  code {
    font-family: monospace !important;
    font-weight: 600 !important;

    span {
      margin: 0 !important;
    }
  }

  &.inline {
    padding: 0.2rem 0.5rem !important;
    margin: 0.1rem 0 !important;
  }

  &.block {
    padding: 0.75rem !important;
  }
}


.inline {
  display: inline-flex;
  align-items: center;
}

.center {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
}

.scrollbar::-webkit-scrollbar {
  min-height: 18.75rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 0.625rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 0.35rem;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  border-radius: 0.35rem;
  width: 0.625rem;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.35rem;
  background-color: $slate;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 0.35rem;
  background-color: $deepBlue;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {
  pre {
    &.inline {
      padding: 0.1rem 0.5rem;
    }
  }
}

@media only screen and (max-width: 370px) {
  pre {
    font-size: 0.7rem !important;
  }
}