@import 'theme/colors';

.tooltip {
  .tip {
    position: fixed;
    z-index: 1;
    background-color: $deepBlue;
    padding: 0.5rem;
    border-radius: 0.35rem;
    color: $offWhite;

    i {
      color: $offWhite;
    }
  }

  i {
    font-size: 1rem;
    color: $grey;
  }
}


.customTooltip {
  .tip {
    font-weight: bold;
    text-align: center;
    color: $white;
    background-color: $blue;
  }

  i {
    color: $blue;
  }
}


/* ========== Media Queries ========== */
@media only screen and (max-width: 414px) {

}