@use 'theme/colors' as *;

#nav {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  border-right: 0.0625rem solid $lightGrey;
  padding: 1rem;

  .active {
    a {
      border-left: 0.25rem solid $blue;
      margin-left: -0.25rem;
    }
  }

  .topLevel {
    margin-bottom: 0.35rem;

    &.noSubMenu {
      &::before {
        content: "\00a0\00a0";
      }
    }

    &.open {
      &::before {
        display: inline-block;
        content: "\203a";
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }

    &.closed {
      &::before {
        display: inline-block;
        content: "\203a";
        transition: transform 0.2s ease;
      }
    }
  }

  .subMenuItem {
    margin-left: 1rem;

    a {
      font-weight: normal;
    }
  }
}

#nav.customNav {
  height: calc(100% - 12.9rem);
  overflow-y: scroll;
  position: fixed;
  left: 0;
  width: 16rem;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.2s ease;
}

/* ========== Media Queries ========== */
@media only screen and (max-width: 1280px) {
  #nav.customNav {
    height: calc(100% - 16.4rem);
  }
}

@media only screen and (max-width: 1024px) {
  #nav.customNav {
    left: -16rem;

    &.open {
      left: 0;
    }
  }
}